<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'news/base_v0/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'news/base_v0/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'news/base_v0/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'news/base_v0/favicon/manifest.json' %}">
  <link rel="mask-icon" href="{% static 'news/base_v0/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <!--> Add bootstrap<-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
</head>
<body>
 <div class="container">
    <div class="row justify-content-center">
      <div class="col-9 card">
        <section class="card-body">
          <header class="row">
            <section class="col-12 d-flex align-items-center">
              <img class="img-fluid width-10" src="ico.jpg" alt="logo image">
              <h3 class="float-center align-middle logo-font">PROJECT T.A.N.G.O.</h3>
              <h6 class="text-right pb-4">(game news)</h6>
            </section>
          </header>
          <nav class="row" aria-label="Navigation">
            <section class="col-12 d-flex flex-nowrap">
              <ul class="nav d-flex mr-auto">
                <li class="nav-item">
                  <a href="#" class="border-bottom-line  px-1">LINK</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="border-bottom-line  px-1">LINK</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="border-bottom-line  px-1">LINK</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="border-bottom-line  px-1">LINK</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="border-bottom-line  px-1">LINK</a>
                </li>
              </ul>
              <h6 class="border-bottom-line padding-top px-3 mx-3 text-font">Welcome User</h6>
            </section>
          </nav>
          <main class="row justify-content-center">
            <section class="row justify-content-center">
            <div class="col-8 d-flex align-items-center">
              <ul class="list-unstyled">
                <li>
                  <article>
                    <section class="row justify-content-center">
                      <div class="col-12 d-flex flex-nowrap justify-content-center">
                        <h5 class="my-0 border-bottom-line px-4">NEWS TITLE NEWS TITLE NEWS TITLE NEWS TITLE NEWS TITLE NEWS TITLE</h5>
                      </div>
                    </section>
                    <section class="row">
                      <div class="col-12 d-flex flex-nowrap">
                        <h6 class="p-1 pl-3 small">Category:xxxx</h6>
                        <h6 class="p-1 small">Tags:xxxx</h6>
                        <h6 class="p-1 small">Comments:xxxx</h6>
                      </div>
                    </section>
                    <section class="row">
                      <div class="col-12 d-flex px-4 mx-2">
                        <img class="img-fluid align-self-start w-25 border-img" src="ico.jpg" alt="logo image">
                        <p class="px-1">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text  Text Text Text Text Text Text Text
                             Text Text Text Text Text Text Text
                          <a href="#">Continue read -></a>
                        </p>
                      </div>
                    </section>
                  </article>
                </li>
                <li>
                  <article>
                    <section class="row justify-content-center">
                      <div class="col-12 d-flex flex-nowrap justify-content-center">
                        <h5 class="my-0 border-bottom-line px-4">NEWS TITLE NEWS TITLE NEWS TITLE NEWS TITLE NEWS TITLE NEWS TITLE</h5>
                      </div>
                    </section>
                    <section class="row">
                      <div class="col-12 d-flex flex-nowrap">
                        <h6 class="p-1 pl-3 small">Category:xxxx</h6>
                        <h6 class="p-1 small">Tags:xxxx</h6>
                        <h6 class="p-1 small">Comments:xxxx</h6>
                      </div>
                    </section>
                    <section class="row">
                      <div class="col-12 d-flex px-4 mx-2">
                        <img class="img-fluid align-self-start w-25 border-img" src="ico.jpg" alt="logo image">
                        <p class="px-1">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text  Text Text Text Text Text Text Text
                             Text Text Text Text Text Text Text
                          <a href="#">Continue read -></a>
                        </p>
                      </div>
                    </section>
                  </article>
                </li>
              </ul>
            </div>
            </section>
            <section class="row">
              <div class="col-12 align-items-center">
                <nav aria-label="Pagination">
                <ul class="pagination pagination-xsm border-bottom-line">
                  <li class="page-item text-color-primary disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item "><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                 </ul>
              </nav>
              </div>
            </section>
          </main>
          <footer class="row">
            <section class="col-12 d-flex align-items-start">
              <p class="my-0 small">Copyright 2017 Project Tango</p>
            </section>
          </footer>
        </section>
      </div>
    </div>
  </div>
</body>
</html>