{% extends 'pybb/base.html' %}
{% load i18n pybb_tags staticfiles %}

{% block title %}
{% if forum %}{% trans 'New topic' %}{% else %}{% trans 'New reply' %}{% endif %}
{% endblock %}

{% block extra_head %}
    {{ block.super }}
    {{ form.media.css }}
{% endblock %}
{% block extra_script %}
    {{ block.super }}
    {{ form.media.js }}
    <script type="text/javascript" src="{% static 'pybb/js/jquery.formset.min.js' %}"></script>
{% endblock %}

{% block breadcrumb %}
    {% if forum %}
        {% with object=forum extra_crumb="New topic" %}
            {% include 'pybb/breadcrumb.html' %}
        {% endwith %}
    {% else %}
        {% with object=topic extra_crumb="New reply" %}
            {% include 'pybb/breadcrumb.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block content %}

<h2 class="col-md-12 d-flex justify-content-center">{% if forum %}{% trans 'New topic' %}{% else %}{% trans 'New reply' %}{% endif %}</h2>

<div class="d-flex justify-content-center">{% include "pybb/post_form.html" %}</div>
{% endblock content %}
