{% load i18n %}

{% if is_paginated %}
    <div class="pagination">
        <ul class="pagination">
            <li class="prev {% if not page_obj.has_previous %}disabled{% endif %} px-2">
                <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">← {% trans 'Previous page' %}</a>
            </li>
            {% for page in page_obj.pages %}
                {% if page %}
                    <li {% ifequal page page_obj.number %}class="disabled px-1"{% endifequal %}>
                       <a href="?{{ page.querystring }}" class="page px-1">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="disabled">
                       <a href="#">...</a>
                    </li>
                {% endif %}
            {% endfor %}
            <li class="next {% if not page_obj.has_next %}disabled{% endif %} px-2">
                <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}" >{% trans 'Next page' %} →</a>
            </li>
        </ul>
    </div>
{% endif %}
