{% extends "site/base_v0/base.html" %}

{% block meta_description %} Change password PROJECT T.A.N.G.O. (game news) - fast loading game news website {% endblock %}

{% block title %} Change password PROJECT T.A.N.G.O. (game news) - fast loading game news website {% endblock %}

{% load static %}

{% block main %}
    <div class="col-8 d-flex flex-column align-items-center">
        {% if messages %}
        {% for message in messages %}
         <div class="alert alert-info mb-0" role="alert">{{message}}</div>
        {% endfor %}
        {% endif %}
        {% if form.errors %}
             {% for error in form.old_password.errors %}
                        <div class="alert alert-danger mb-0" role="alert"> {{error|escape}} </div>
                    {% endfor %}
        {% for error in form.new_password1.errors %}
                        <div class="alert alert-danger mb-0" role="alert"> Password: {{error|escape}} </div>
                    {% endfor %}
         {% for error in form.new_password2.errors %}
                        <div class="alert alert-danger mb-0" role="alert"> Pasword (again): {{error|escape}} </div>
                    {% endfor %}
        {% for error in form.password1.errors %}
                        <div class="alert alert-danger mb-0" role="alert"> Password: {{error|escape}} </div>
                    {% endfor %}
         {% for error in form.password2.errors %}
                        <div class="alert alert-danger mb-0" role="alert"> Pasword (again): {{error|escape}} </div>
                    {% endfor %}
        {% endif %}
        <h2>Change Password</h2>
        <form method="post" class="d-flex flex-column">
        {% csrf_token %}
        {% if not user.has_usable_password %}
          <div class="alert alert-danger mb-0" role="alert">You have not defined a password yet.</div>
            <label for="id_password1">Password:</label>

                <input type="password" class="form-control" name="password1" required required id="id_password1" />
                <small id="passwordHelp" class="form-text text-muted">
                  <ul>
                    <li>Your password can&#39;t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can&#39;t be a commonly used password.</li>
                    <li>Your password can&#39;t be entirely numeric.</li>
                  </ul>
                </small>


         <label for="id_password2">Password (again):</label>
                <input type="password" class="form-control" name="password2" required required id="id_password2" />
                <small id="passwordHelp2" class="form-text text-muted">Enter the same password as before, for verification.</small>
        {% else %}
        <label for="id_old_password">Old password:</label>
        <input type="password" class="form-control" name="old_password" required id="id_old_password" />
        <label for="id_new_password1">Password:</label>

                <input type="password" class="form-control" name="new_password1" required required id="id_new_password1" />
                <small id="newpasswordHelp" class="form-text text-muted">
                  <ul>
                    <li>Your password can&#39;t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can&#39;t be a commonly used password.</li>
                    <li>Your password can&#39;t be entirely numeric.</li>
                  </ul>
                </small>


         <label for="id_new_password2">Password (again):</label>
                <input type="password" class="form-control" name="new_password2" required required id="id_new_password2" />
                <small id="newpasswordHelp2" class="form-text text-muted">Enter the same password as before, for verification.</small>
        {% endif %}
        <button class="btn btn-red border-red w-25 align-self-center my-1" type="submit" value="Send">Send</button>
       </form>
    </div>
{% endblock %}