<!-- Add comment -->
<h1> News</h1>
{% if user.is_authenticated %}
<br> <h3> Hello {{user.username}} !  Your id is {{user.pk}}</h3>
{% endif %}

<ul>
{% for article in articles.all %}
    <li>
        <br> Title: {{article.title}}
        <br> Publication date: {{article.pub_date}}
        <br> Category: {{article.category.name}}
        <br> Tags: {% for tag in article.tags_set.all %}
        {{ tag.tag }}
            {% endfor %}
        <br> Comments: {{article.comment_set.count}}
        <br> <a href="{% url 'news:detail' article.id %}">Read more</a>
    </li>
{% endfor %}
</ul>