{% extends "site/base_v0/base.html" %}

{% load static %}

{% block title %} Registration {% endblock %}

{% block main %}

 <section class="row justify-content-center">
    <div class="col-8 d-flex flex-column align-items-center control-label">
      <form method="POST" class="col-8 d-flex flex-column">
         <div class="form-group my-3">
         <h2 class="row justify-content-center">Sign up</h2>
              {% csrf_token %}
              <div class="row justify-content-center">
                  <label class="col-3 d-inline-flex flex-column my-2 ml-1">Username:</label>
                  <input class="col-6 d-flex mx-2 my-1 form-control" type="text" name="username" placeholder="Enter username">
              </div>
              <div class="row justify-content-center">
                  <label class="col-3 d-inline-flex flex-column my-2 ml-1">Password:</label>
                  <input class="col-6 d-flex mx-2 my-1 form-control" type="password" name="password" placeholder="Enter password">
              </div>
              <div class="row justify-content-center">
                  <label class="col-3 d-inline-flex flex-column my-2 ml-1">First name:</label>
                  <input class="col-6 d-flex mx-2 my-1 form-control" type="text" name="first_name" placeholder="Enter your first name">
              </div>
              <div class="row justify-content-center">
                  <label class="col-3 d-inline-flex flex-column my-2 ml-1">Last name:</label>
                  <input class="col-6 d-flex mx-2 my-1 form-control" type="text" name="last_name" placeholder="Enter your last name">
              </div>
              <div class="row justify-content-center">
                  <label class="col-3 d-inline-flex flex-column my-2 ml-1">Email:</label>
                  <input class="col-6 d-flex mx-2 my-1 form-control" type="email" name="email" placeholder="Enter your e-mail">
              </div>
              <div class="row justify-content-center">
                <button type="submit" class="btn btn-red my-4 ml-3">Register</button>
              </div>
         </div>
      </form>
    </div>
</section>
{% endblock %}
</html>
