{% extends "site/base_v0/base.html" %}

{% load static %}

{% block title %} Registration {% endblock %}

{% block main %}

 <section class="row justify-content-center">
    <div class="col-8 d-flex flex-column align-items-center control-label">
      <form method="post" class="col-8 d-flex flex-column form-group">
         <div class="form-group my-3">
          <form method="POST" class="form-control">
              {% csrf_token %}
              <h2 class="row justify-content-center">Sign up</h2>
              <div class="row justify-content-center">
                  <label class="form-group my-2">
                      Username:
                  </label>
                  <div class="d-inline-flex mx-2 my-2" name="username" placeholder="">
                  {{ user_form.username }}
                  </div>
              </div>
              <div class="row justify-content-center">
                  <label class="form-group my-2">
                      Password:
                  </label>
                  <div class="d-inline-flex mx-2 my-2">
                          {{ user_form.password }}
                  </div>
              </div>
              <div class="row justify-content-center">
                  <label class="form-group my-2">
                      First name:
                  </label>
                  <div class="d-inline-flex mx-2 my-2">
                          {{ user_form.first_name }}
                  </div>
              </div>
              <div class="row justify-content-center">
                  <label class="form-group my-2">
                      Last name:
                  </label>
                  <div class="d-inline-flex mx-2 my-2">
                           {{ user_form.last_name }}
                  </div>
              </div>
              <div class="row ml-5 mx-1">
                  <label class="form-group my-2 ml-1">
                      Email address:
                  </label>
                  <div class="d-inline-flex mx-2 my-2">
                           {{ user_form.email }}
                  </div>
              </div>
              <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary my-4 ml-3">Register</button>
              </div>
          </form>
         </div>
      </form>
    </div>
</section>
{% endblock %}
</head>
<body>
<h2 class="text-center m-20">Registration</h2>
        <form method="POST" class="text-center justify-content-center">
      {% csrf_token %}
      {{ user_form.as_p }}
        <button type="submit" class="btn">Register</button>
        </form>
</body>
</html>
