{% extends "../../site/base_v0/base.html" %}

{% block title %} {{article.title}} {% endblock %}


{% block main %}
 <section class="row justify-content-start">
    <div class="col-12 col-md-8 d-flex align-items-center">
      <article>
          <section class="row justify-content-center">
                      <div class="col-12 d-flex flex-wrap flex-md-nowrap text-center">
                        <h5 class="my-0 border-bottom-line px-md-4"><a href="{% url 'news:detail' article.id %}">{{article.title}}</a></h5>
                      </div>
                    </section>
          <section class="row">
                      <div class="col-12 d-flex flex-wrap flex-md-nowrap">
                          <h6 class="p-1 pl-1">Category:<a href="{% url 'news:filter' 'category' article.category.name %}">{{article.category.name}}</a></h6>
                        <h6 class="p-1">Tags:{% for tag in article.tags_set.all %}
                            <a href="{% url 'news:filter' 'tag' tag.tag %}">{{ tag.tag }}</a>
                                                   {% endfor %}</h6>
                        <h6 class="p-1 mr-auto">Comments:{{article.comment_set.count}}</h6>
                        <h6 class="p-1 pr-3">Pub_date:{{article.pub_date}}</h6>
                      </div>
          </section>
          <section class="row">
                      <div class="col-12 d-flex flex-column flex-wrap px-md-4 mx-md-2">
                        <img class="img-fluid align-self-center align-self-md-start w-75 w-md-25 border-img" src="{{article.image_url}}" alt="article image">
                        <div class="mx-auto pl-1">{{article.article_text|safe}}</div>
                      </div>
          </section>
          <section class="row">
              <div class="col-12 d-flex flex-column flex-nowrap align-items-center">
                <h6 class="align-self-start pl-2">
                  Add comment:
                </h6>
                {% if error_message %}
                  <br> <h6 class="alert alert-danger" role="alert">{{error_message}}</h6>
                {% endif %}
                  <form action="{% url 'news:add_comment' article.id %}" class="col-8 d-flex flex-column " method="post">
                  {% csrf_token %}
                  <div class="form-group my-1">
                   <textarea class="form-control" name="comment_text" rows="3"></textarea>
                  </div>
                    <button type="submit" class="btn btn-primary w-25 pb-4 align-self-center" value="Send">
                      Send
                    </button>
                  </form>
              </div>
          </section>
          <section class="row">
              <div class="col-12 d-flex flex-column flex-wrap">
                 <h6> Comments({{article.comment_set.count}})</h6>

                  {% for comment in article.comment_set.all %}
                        <div> Author: {{comment.author}}</div>
                        <div> Publication Date: {{comment.pub_date}}</div>
                        <div class="word-break">{{comment.comment_text}}</div>
                  {% endfor %}
              </div>
          </section>
       </article>
   </div>
 </section>
{% endblock %}