{% extends "../../site/base_v0/base.html" %}

{% block title %} News Page {% endblock %}

{% block main %}
            <section class="row justify-content-center">
            <div class="col-8 d-flex align-items-center">
              <ul class="list-unstyled">
                {% for article in articles.all %}
                <li>
                  <article>
                    <section class="row justify-content-center">
                      <div class="col-12 d-flex flex-nowrap justify-content-center">
                        <h5 class="my-0 border-bottom-line px-4"><a href="{% url 'news:detail' article.id %}">{{article.title}}</a></h5>
                      </div>
                    </section>
                    <section class="row">
                      <div class="col-12 d-flex flex-nowrap">
                          <h6 class="p-1 pl-3 small">Category:<a href="{% url 'news:filter' 'category' article.category.name %}">{{article.category.name}}</a></h6>
                        <h6 class="p-1 small">Tags:{% for tag in article.tags_set.all %}
                            <a href="{% url 'news:filter' 'tag' tag.tag %}">{{ tag.tag }}</a>
                                                   {% endfor %}</h6>
                        <h6 class="p-1 small mr-auto">Comments:{{article.comment_set.count}}</h6>
                        <h6 class="p-1 pr-3 small">Pub_date:{{article.pub_date}}</h6>
                      </div>
                    </section>
                    <section class="row">
                      <div class="col-12 d-flex px-4 mx-2">
                        <img class="img-fluid align-self-start w-25 border-img" src="{{article.image_url}}" alt="article image">
                        <p class="px-1">{{article.article_text|safe|slice:"320"}}
                           <br> <a href="{% url 'news:detail' article.id %}"> Continue read -></a>
                        </p>
                      </div>
                    </section>
                  </article>
                </li>
                {% endfor %}
              </ul>
            </div>
            </section>
         {% if is_paginated %}
            <section class="row">
              <div class="col-12 d-flex justify-content-center">
                <nav aria-label="Pagination" >
                <ul class="pagination pagination-xsm border-bottom-line">
                  <li class="page-item text-color-primary">
                    <a class="page-link" {% if page_obj.has_previous %}
                                            href="{% url 'news:index' page_obj.previous_page_number %}" 
                                         {% else %}
                                            href="#" tabindex="-1"
                                         {% endif %}
                                         >Previous</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" {% if page_obj.has_next %}
                                            href="{% url 'news:index' page_obj.next_page_number %}" 
                                         {% else %}
                                            href="#" tabindex="-1"
                                         {% endif %}
                                         >Next</a>
                  </li>
                 </ul>
              </nav>
              </div>
            </section>
         {% endif %}
            {% endblock %}