{% extends "../../site/base_v0/base.html" %}

{% block meta_description %} About Page PROJECT T.A.N.G.O. (game news) - fast loading game news website {% endblock %}

{% block title %} About Page PROJECT T.A.N.G.O. (game news) - fast loading game news website {% endblock %}

{% block main %}
{% load static %}
<section class="row justify-content-center">
    <div class="col-12 align-items-center">
        <h2>Welcome to Project T.A.N.G.O (game news)!</h2>
        <p>It's developed as fast-loading (almost without js or flash) web site with game news!</p>
        <p>Main reason for creating this web site was to work with Django framework. It's an open-source project, so
        if you are interested in it - go at https://github.com/stPhoenix/projecttango.</p>
        <p>Also, we want to dive in CI and CLI. So, we choose <a href="http://heroku.com/" >heroku</a> for app hosting
            and <a href="https://travis-ci.org/" >travis</a> for CI.</p>
        <p>If you have something to say - write to us.</p>

    </div>

</section>
{% endblock %}
{% block sidebar %}
{% endblock %}