<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'news/base_v0/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'news/base_v0/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'news/base_v0/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'news/base_v0/favicon/manifest.json' %}">
  <link rel="mask-icon" href="{% static 'news/base_v0/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  <!-- Add bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
   <link rel="stylesheet" href="{% static 'news/base_v0/css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title> {% block title %} Home Page {% endblock %}</title>
</head>
<body>
 <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-12 card px-0 mx-0">
        <section class="card-body">
          <header class="row">
            <a href="{% url 'index' %}">
            <section class="col-12 col-md-10 col-lg-8 d-flex align-items-center">
              <img class="img-fluid" src="{% static 'news/base_v0/logo.jpg' %}" alt="logo image">
              <!--<h3 class="display-3 float-center align-middle logo-font">PROJECT T.A.N.G.O.</h3>
              <h3 class="text-right pb-4">(game news)</h3>-->
            </section>
            </a>
          </header>
          <nav class="row" aria-label="Navigation">
            <section class="d-inline-flex col-md-12 justify-content-center justify-content-lg-between flex-wrap flex-lg-nowrap hidden-scrolling">
              <ul class="list-unstyled navbar navbar-expand h4 nav-scrolling hidden-scrolling">
                <li class="nav-item">
                  <a href="{% url 'index' %}" class="border-bottom-line px-1">Home</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="border-bottom-line px-1">Forum</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="border-bottom-line px-1">Games</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="border-bottom-line px-1">About</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="border-bottom-line px-1">Contact<nobr> Us </nobr></a>
                </li>
              </ul>
              <ul class="list-unstyled navbar navbar-expand h4 nav-scrolling">
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a href="{% url 'index' %}" class="border-bottom-line px-1"><nobr>Welcome {{user.username}}</nobr></a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'account:settings' user.pk %}" class="border-bottom-line px-1">Settings</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'logout'%}" class="border-bottom-line px-1"><nobr> Log out </nobr></a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a href="{% url 'index' %}" class="border-bottom-line px-1"><nobr> Welcome Guest</nobr></a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'login'%}" class="border-bottom-line px-1"><nobr> Log in</nobr></a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'account:sign_up'%}" class="border-bottom-line px-1"><nobr> Sign up</nobr></a>
                </li>
                {% endif %}
              </ul>
            </section>
          </nav>
          <main class="row justify-content-center mt-md-2">
            {% block main %}
            <section class="row justify-content-center">
            <div class="col-8 d-flex align-items-center">
              <ul class="list-unstyled">
                <li>
                  <article>
                    <section class="row justify-content-center">
                      <div class="col-12 d-flex flex-nowrap justify-content-center">
                        <h5 class="my-0 border-bottom-line px-4">NEWS TITLE NEWS TITLE NEWS TITLE NEWS TITLE NEWS TITLE NEWS TITLE</h5>
                      </div>
                    </section>
                    <section class="row">
                      <div class="col-12 d-flex flex-nowrap">
                        <h6 class="p-1 pl-3 small">Category:xxxx</h6>
                        <h6 class="p-1 small">Tags:xxxx</h6>
                        <h6 class="p-1 small">Comments:xxxx</h6>
                      </div>
                    </section>
                    <section class="row">
                      <div class="col-12 d-flex px-4 mx-2">
                        <img class="img-fluid align-self-start w-25 border-img" src="ico.jpg" alt="logo image">
                        <p class="px-1">Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text Text  Text Text Text Text Text Text Text
                             Text Text Text Text Text Text Text
                          <a href="#">Continue read -></a>
                        </p>
                      </div>
                    </section>
                  </article>
              </ul>
            </div>
            </section>
            <section class="row">
              <div class="col-12 align-items-center">
                <nav aria-label="Pagination">
                <ul class="pagination pagination-xsm border-bottom-line">
                  <li class="page-item text-color-primary disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="page-item "><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                 </ul>
              </nav>
              </div>
            </section>
            {% endblock %}
          </main>
          <footer class="row">
            <section class="col-12 col-md-12 d-flex align-items-start">
              <p class="my-0">Copyright 2017 Project Tango</p>
            </section>
          </footer>
        </section>
      </div>
    </div>
  </div>
</body>
</html>