{% extends "../../site/base_v0/base.html" %}

{% block meta_description %} Contact Us Page PROJECT T.A.N.G.O. (game news) - fast loading game news website {% endblock %}

{% block title %} Contact Us Page PROJECT T.A.N.G.O. (game news) - fast loading game news website {% endblock %}

{% block main %}
{% load static %}
<section class="row justify-content-center">
    <div class="col-12 align-items-center">
        <h2>Welcome to Project T.A.N.G.O (game news)!</h2>
        <p>To contact us send your messages to saintdevs@gmail.com</p>

    </div>

</section>
{% endblock %}
{% block sidebar %}
{% endblock %}